<div class="container">
    <form name="ctrl.bookform" class="form-horizontal form-addBook">
        <div class="form-group">
            <label class="control-label col-sm-2" for="bookName">Book Name</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.book.name" class="form-control" id="bookName" name="bookName" placeholder="Book Name.." required>
                <div class="validation" data-ng-show="ctrl.bookform.bookName.$touched || ctrl.bookform.$submitted">
                    <div data-ng-show="ctrl.bookform.bookName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Book Name is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="authorName">Author Name </label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.book.author" class="form-control" id="authorName" name="authorName" placeholder="Author Name.." required>
                <div class="validation" data-ng-show="ctrl.bookform.authorName.$touched || ctrl.bookform.$submitted">
                    <div data-ng-show="ctrl.bookform.authorName.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Author Name is required
                    </div>
                </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="publishYear">Publish Year </label>
            <div class="col-sm-6">
                    <p class="input-group">
                    <input id="publishYear" name="publishYear" type="text" class="form-control" ng-model="ctrl.book.publish_year" required />
                    </p>
                    
                    <div class="validation" data-ng-show="ctrl.bookform.publishYear.$touched || ctrl.bookform.$submitted">
                        <div data-ng-show="ctrl.bookform.publishYear.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Publish Year is required
                        </div>
                        <div data-ng-show="ctrl.bookform.publishYear.$error.pattern">
                                <span class="glyphicon glyphicon-alert"></span> Publish Year is invalid
                            </div>
                    </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="revisionYear">Revision Year</label>
            <div class="col-sm-6">
                    <p class="input-group">
                        <input id="revisionYear" name="revisionYear" type="text" class="form-control" ng-model="ctrl.book.rev_year"/>
                    </p>
                    <div class="validation" data-ng-show="ctrl.bookform.revisionYear.$touched || ctrl.bookform.$submitted">
                        <!--<div data-ng-show="ctrl.bookform.revisionYear.$error.required">
                            <span class="glyphicon glyphicon-alert"></span> Revision Year is required
                        </div>-->
                        <div data-ng-show="ctrl.bookform.revisionYear.$error.pattern">
                            <span class="glyphicon glyphicon-alert"></span> Revision Year is invalid
                        </div>
                    </div>
            </div>    
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="photourl">Book Cover:</label>
            <div class="col-sm-6">
                <input type="text" ng-model="ctrl.book.photourl" class="form-control" placeholder= "please place photo url here" id="photourl" name="photourl"/>
                <div class="validation" data-ng-show="ctrl.bookform.photourl.$touched || ctrl.bookform.$submitted">
                    <!--<div data-ng-show="ctrl.bookform.photourl.$error.required">
                        <span class="glyphicon glyphicon-alert"></span> Photo is required
                    </div>-->
                </div>
            </div>    
        </div>

        <div class="form-group">
            <div class="col-md-6 col-md-offset-3">
                <button type="submit" class="btn btn-primary" ng-disabled="ctrl.bookform.$invalid" ng-click="ctrl.saveBook()">Save</button>
            </div>
        <div class="form-group">
            <div data-ng-show="ctrl.status.message.$result">
                    {{ctrl.status.message.result}}
            </div>
        </div>
<!--            <div ng-show="ctrl.status.message" ></div>
        </div>-->
    
    </form>
</div>



