<div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Are you sure to delete {{ctrl.book.name}} by {{ctrl.book.author}} published on {{ctrl.book.publish_year}} ?</h4>
        </div>
        <div class="modal-body">
          <p><img src="https://media.giphy.com/media/7ILa7CZLxE0Ew/giphy.gif"/></p>
        </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-danger" ng-click="ctrl.deleteBook()">Delete</button>
        </div>
      </div>   


<!--      <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Are you sure to delete {{ctrl.employee.first_name}} {{ctrl.employee.last_name}} ?</h4>
            </div>
            <div class="modal-body">
              <p><img src="https://media.giphy.com/media/7ILa7CZLxE0Ew/giphy.gif"/></p>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-danger" ng-click="ctrl.deleteEmployee()">Delete</button>
            </div>
          </div>   -->