
    <body ng-cloak ng-controller="BookController as ctrl">
        <div class="container">
            <div><h2>Book Management System<span my-current-time="ctrl.format"></span></h2>
            </div>
            <div class="jumbotron">
                    <form name="ctrl.searchForm" ng-submit="ctrl.searchBooks()">
                        <div class="keyword col-lg-6">
                            <input type="text" name="keyword" id="keyword" class="form-control" ng-model="ctrl.searchKeyword" placeholder="e.g. Harry Porter"/>
                        </div>
                        <div class="keyword col-lg-6">
                            <select ng-model="ctrl.orderby" class= "form-control">
                                <option value = "" disabled selected>Sort by</option>
                                <option value = "ASC">Ascending</option>
                                <option value = "DESC">Descending</option>
                            </select>
                        </div>
                        <br>
                        <hr/>
                        <div class="col-lg-6">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </form>
            </div>
            <div class="list" ng-show="ctrl.books">
                <div class="row" ng-show="ctrl.books.length>0" >
                    <div class="list header col-lo-12 col-mg-12 col-sm-12">
                        <ul uib-pagination total-items="ctrl.totalItems" ng-model="ctrl.currentPage" max-size="ctrl.maxsize"  items-per-page="ctrl.itemsPerPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="ctrl.pageChanged()" ></ul>
                    </div>
                </div>
    
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 book" ng-repeat="book in ctrl.books">
                        <h4><a href="#" class="thumbnail"><img src="{{book.front_cover}}"/></a></h4>
                        <h4><label>Book Name: </label> {{book.name}}</h4>
                        <h4><label>Author Name: </label> {{book.author}}</h4>
                        <h4><label>Publisher Name: </label> {{book.publisher}}</h4>
                        <h4><label>Year of Publication: </label> {{book.publish_year | date:medium}}</h4>
                        <h4><label>Year of Revision: </label> {{book.rev_year | date:medium}}</h4>
                        <h4>
                            <button type="button" ng-click="ctrl.editBook(book.id, 'lg')" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            <button type="button" ng-click="ctrl.deleteBook(book.id, 'lg')" class="btn btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </body>











